@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap');

:root {
  --font-kanit: 'Kanit', sans-serif;
  --font-primary: 'Roboto', sans-serif;
  --height-navbar: 64px;
  --mau-xanh-tim: #3700ff;
  --color-blue: #0d6efd;
  --color-indigo: #6610f2;
  --color-purple: #6f42c1;
  --color-pink: #d63384;
  --color-red: #dc3545;
  --color-orange: #fd7e14;
  --color-yellow: #ffc107;
  --color-green: #198754;
  --color-teal: #20c997;
  --color-cyan: #0dcaf0;
  --color-gray: #757575;
  --color-gray-dark: #4f4f4f;
  --color-primary: #1266f1;
  --color-secondary: #b23cfd;
  --color-success: #00b74a;
  --color-info: #39c0ed;
  --color-warning: #ffa900;
  --color-danger: #f93154;
  --color-light: #fbfbfb;
  --color-dark: #262626;
  --color-white: #fff;
  --color-black: #000;
}

html, body, * {
  font-family: var(--font-primary);
  font-weight: 400;
}

.title-page {
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  font-family: 'Kanit', sans-serif;
  margin: 20px 0;
  user-select: none;
}

.form-box {
  display: block;

  .form-block {
    // border: 1px solid red;
    border-radius: 20px;
    padding: 30px 40px;
    box-shadow:  7px 7px 14px #c7c7c7,
                  -7px -7px 14px #ffffff;
    background-color: #fff;

    .form-title {
      text-align: center;
      font-size: 24px;
      font-weight: 500;
      font-family: 'Kanit', sans-serif;
      user-select: none;
      margin: 0px 0 10px;
      text-transform: uppercase;
    }
    .form-title-small {
      text-align: left;
      font-size: 16px;
      font-weight: 500;
      font-family: 'Kanit', sans-serif;
      user-select: none;
      margin: 0 0 10px;
      &.center {
        text-align: center;
      }
    }
    .form-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 25px;
      margin-bottom: 25px;
      position: relative;

      &.justify-center {
        justify-content: center;
      }
      &.justify-start {
        justify-content: start;
      }
      &.justify-end {
        justify-content: end;
      }
      &.mt-15 {
        margin-top: 15px;
      }
      &.mb-15 {
        margin-bottom: 15px;
      }
      
      &.active {
        label {
          color: var(--color-primary);
          font-size: 12px;
          top: 0;
          left: 10px;
          transform: translateY(-50%);
          background-color: #fff;
          padding: 3px 7px;
          user-select: none;
        }
      }

      input {
        font-size: 18px;
        padding: 8px 15px;
        font-size: 18px;
        border: none;
        outline: none;
        border: 2px solid rgba(#7c7c7c, 0.2);
        border-radius: 5px;
        width: 100%;
        transition: linear .3s;

        &:focus {
          & ~ label {
            color: var(--color-primary);
            font-size: 12px;
            top: 0;
            left: 10px;
            transform: translateY(-50%);
            background-color: #fff;
            padding: 3px 7px;
            user-select: none;
          }
        }
      }

      label {
        position: absolute;
        left: 25px;
        top: 10px;
        font-size: 18px;
        font-weight: 600;
        margin-right: 15px;
        transition: linear .3s;
        color: #6c6c6c;
        user-select: none;
        pointer-events: none;
      }

      .error-msg {
        font-size: 16px;
        font-weight: 600;
        color: #f00;
        margin-left: 10px;
      }
    }
  }
}

.btn-group {
  display: flex;
  align-items: center;

  &.justify-center {
    justify-content: center;
  }
  &.justify-start {
    justify-content: start;
  }
  &.justify-end {
    justify-content: end;
  }
}

.form-body {
  .form-group {
    position: relative;
    margin-top: 32px;
    &:first-child {
      margin-top: 0px;
    }
    input {
      padding: 12px 16px;
      width: 100%;
      outline: none;
      border: 2px solid rgb(179, 179, 179);
      font-size: 16px;
      transition: linear .2s;
      &.valid,
      &:focus {
        border: 2px solid var(--color-primary);
        & ~ label {
          color: var(--color-primary);
          font-size: 12px;
          top: 0;
          left: 10px;
          transform: translateY(-50%);
          background-color: #fff;
          padding: 3px 7px;
          user-select: none;
        }
      }
      // &.valid {
      //   border: 2px solid var(--color-success);
      // }
      
      &.invalid {
        border: 2px solid red;
      }
    }
    label {
      position: absolute;
      left: 16px;
      top: 16px;
      pointer-events: none;
      color: #888;
      transition: linear .2s;
      background-color: #fff;
      padding: 0px 4px;
      text-align: center;
      .required {
        color: red;
      }
    }
  }
  .form-group-2 {
    margin-top: 32px;
    &:first-child {
      margin-top: 0px;
    }
    label {
      font-weight: 500;
      font-size: 16px;
      margin-right: 16px;
      .required {
        color: red;
      }
    }
    select,
    option,
    input {
      padding: 12px 16px;
      font-size: 16px;
      outline: none;
      border: 2px solid rgb(179, 179, 179);
      &:focus {
        border: 2px solid var(--color-primary);
      }
    }
  }
  .form-btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
  }
}

.btn {
  display: block;
  padding: .625rem 1.5rem .5rem;
  line-height: 1.5;
  font-weight: 500;
  vertical-align: bottom;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  transition: linear .3s;
  border: none;
  outline: none;
  user-select: none;
  position: relative;
  overflow: hidden;

  &:focus {
    border: none;
    outline: none;
  }

  .btnClick {
    position: absolute;
    background-color: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    user-select: none;
    border-radius: 50%;
    animation: btnCircle .6s linear;
    z-index: 1;
  }

  @keyframes btnCircle
  {
    0% {
      width: 0;
      height: 0;
      opacity: 0.4;
    }
    100% {
      width: 150px;
      height: 150px;
      opacity: 0;
    }
  }

  &.btn-success {
    background-color: var(--color-success);
    color: #fff;

    &:hover {
      background-color: #00913b;
    }

    &:active {
      background-color: #005121;
    }
  }

  &.btn-danger {
    background-color: var(--color-danger);
    color: #fff;

    &:hover {
      background-color: #f80c35;
    }
    &:active {
      background-color: #be0626;
    }
  }

  &.btn-secondary {
    background-color: var(--color-secondary);
    color: #fff;

    &:hover {
      background-color: #a316fd;
    }
    &:active {
      background-color: #8102d1;
    }
  }

  &.btn-primary {
    background-color: var(--color-primary);
    color: #fff;

    &:hover {
      background-color: #0c56d0;
    }
    &:active {
      background-color: #093d94;
    }
  }

  &.btn-warning {
    background-color: var(--color-warning);
    color: #fff;

    &:hover {
      background-color: #d99000;
    }
    &:active {
      background-color: #996500;
    }
  }

  &.btn-info {
    background-color: var(--color-info);
    color: #fff;

    &:hover {
      background-color: #16b5ea;
    }
    &:active {
      background-color: #1088b0;
    }
  }

  &.btn-dark {
    background-color: var(--color-dark);
    color: #fff;

    &:hover {
      background-color: #131313;
    }
    &:active {
      background-color: #000;
    }
  }

  &.btn-light {
    background-color: var(--color-light);
    color: #4f4f4f;

    .btnClick {
      background-image: radial-gradient(circle, #e1e1e1, #bababa, #949494, #6f6f6f, #4d4d4d, #3c3c3c, #2b2b2b, #1c1c1c, #171717, #111111, #090909, #000000);
    }

    &:hover {
      background-color: #e8e8e8;
    }
    &:active {
      background-color: #c8c8c8;
    }
  }

  &.btn-link {
    color: #1266f1;

    .btnClick {
      background-image: radial-gradient(circle, #e1e1e1, #bababa, #949494, #6f6f6f, #4d4d4d, #3c3c3c, #2b2b2b, #1c1c1c, #171717, #111111, #090909, #000000);
    }

    &:hover {
      color: #1246f1;
    }
    &:active {
      color: #0c23f0;
    }
  }

  &.btn-transparent {
    background-color: transparent;
    color: #000;
    position: relative;
    transition: linear .2s;

    
    &::before{
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0);
      width: 100%;
      height: 100%;
      background-color: var(--color-primary);
      z-index: -1;
      transition: linear .2s;
    }

    &.active,
    &:hover {
      color: #fff;

      &::before {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: opacity 0.8s, transform 0.8s;
}
.slide-left-enter,
.slide-left-leave-to {
  opacity: 0;
  transform: translateX(-30%);
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: opacity 0.8s, transform 0.8s;
}
.slide-right-enter,
.slide-right-leave-to {
  opacity: 0;
  transform: translateX(30%);
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: opacity 0.5s, transform 0.5s;
}
.slide-up-enter,
.slide-up-leave-to {
  opacity: 0;
  transform: translateY(-60%);
}

.slide-down-enter-active,
.slide-down-leave-active {
  transition: opacity 0.5s, transform 0.5s;
}
.slide-down-enter,
.slide-down-leave-to {
  opacity: 0;
  transform: translateY(60%);
}

.mr-1 {
  margin-right: 5px;
}
.mr-2 {
  margin-right: 10px;
}
.mr-3 {
  margin-right: 15px;
}
.mr-4 {
  margin-right: 20px;
}
.mr-5 {
  margin-right: 25px;
}
.mr-6 {
  margin-right: 30px;
}
.mr-7 {
  margin-right: 35px;
}
.mr-8 {
  margin-right: 40px;
}

.ml-1 {
  margin-left: 5px;
}
.ml-2 {
  margin-left: 10px;
}
.ml-3 {
  margin-left: 15px;
}
.ml-4 {
  margin-left: 20px;
}
.ml-5 {
  margin-left: 25px;
}
.ml-6 {
  margin-left: 30px;
}
.ml-7 {
  margin-left: 35px;
}
.ml-8 {
  margin-left: 40px;
}